footer {
	border-top: 2px solid $ejp-blue;
	background: $light-blue;
	padding: 50px 0;
	color: $white;

	@include tablet-landscape {
		padding: 70px 0;
	}

	a {
		color: $slate;
	}

	.header {
		width: 100%;
		padding-bottom: 20px;

		h5 {
			font-family: $proxima-nova;
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.1em;
			color: $slate;

			&:after {
				content: '';
				display: block;
				width: 30px;
				height: 3px;
				background: $ejp-blue;
				margin-top: 10px;
			}
		}
	}

	.footer-logo {
		a {
			display: block;

			img {
				max-height: 3rem;
			}
			
		}
	}

	.footer-utilities {
		padding: 50px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.navigation {
			width: 100%;

			@include tablet-portrait {
				width: 25%;
			}

			.link {
				& + .link {
					padding-top: 20px;
				}

				a {
					font-family: $proxima-nova;
					font-weight: bold;
					font-size: 1em;

					&:hover {
						color: $ejp-blue;
					}					
				}
			}
		}

		.social {
			width: 100%;
			padding-top: 50px;

			@include tablet-portrait {
				width: 25%;
				padding-top: 0;
			}

			.links {
				display: flex;
				align-items: center;

				.social-link {
					

					& + .social-link {
						padding-left: 40px;
					}

					a {
						display: block;
						max-width: 22px;
					}

					&.twitter {
						padding-top: 1px;
					}
				}
			}
		}

		.subscribe {
			width: 100%;
			padding-top: 50px;
			max-width: 470px;

			@include tablet-portrait {
				width: 50%;
				margin-left: auto;
				padding-top: 0;
			}


			input.email {
				appearance: none;
				border: 2px solid $ejp-blue;
				font-family: $proxima-nova;
				padding: 10px;
				width: 100%;
				margin: 0 0 20px 0;
				background-color: transparent;
				font-weight: bold;
				color: $slate;

				@include placeholder {
					color: $slate;
				}

				@include mobile-landscape {
					width: auto;
					flex: 1;
					margin: 0 20px 0 0;
				}

			}

		}
	}

	.copyright {
		padding-top: 1rem;
		border-top: 1px solid rgba(42, 42, 42, 0.25);

		p {
			font-size: 0.75rem;
			color: rgba(42, 42, 42, 0.5);
			font-family: $proxima-nova;
		}
	}
}