html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $tiempos-headline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $tiempos-headline;
	font-weight: bold;
}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}



.x-large-title {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
	color: $charcoal;

	@include mobile-landscape {
		font-size: 2.25em;
	}

	@include tablet-landscape {
		font-size: 2.75em;
	}
}

section.body {
	overflow-wrap: break-word;

	a {
		border-bottom: 2px solid $ejp-blue;
	}

	&.p1 {
		p {
			font-size: 1em;
			line-height: 1.7em;
			padding-bottom: 30px;

			@include mobile-landscape {
				font-size: 1.125em;
			}

			@include desktop {
				font-size: 1.25em;
			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		ul, ol {
			padding-bottom: 30px;

			li {
				margin-left: 17px;
				font-size: 1em;
				line-height: 1.7em;

				@include mobile-landscape {
					font-size: 1.125em;
				}

				& + li {
					padding-top: 20px;
				}

			}
		}

		blockquote {
			margin: 0 0 40px 20px;
			max-width: 600px;

			p {
				border-left: 5px solid $black;
				padding: 0 0 0 20px;
				font-size: 1em;
				
				@include tablet-portrait {
					font-size: 1.125em;
				}

				& + p {
					padding-top: 20px;
				}
			}
		}
	}
}

.copy {
	&.p2 {
		p {
			font-size: 1.125em;
			line-height: 1.7777em;

			& + p {
				padding-top: 25px;
			}
		}

		a {
			border-bottom: 2px solid $ejp-blue;
		}
	}
}

.comments {
	padding-top: 2rem;

	.comment-btn {
		background: transparent;
		color: $ejp-blue;
		border: 2px solid $ejp-blue;
		font-size: 1rem;

		&:hover {
			border: 2px solid $ejp-blue;
			background: $ejp-blue;
			color: $white;
		}
	}
}

.subscribe-btn,
.comment-btn {
	color: $white;
	background: $ejp-blue;
	padding: 13px 24px 10px 24px;
	border-radius: 24px;
	font-size: 1.25em;
	font-weight: bold;
	border: 2px solid $ejp-blue;
	transition: all 0.3s ease-in-out;

	&.clear {
		background: transparent;

		&:hover {
			background: $ejp-blue;
		}
	}

	&.clear-charcoal {
		background: transparent;
		color: $charcoal;

		&:hover {
			background: $ejp-blue;
			color: $white;
		}
	}

	&.white {
		background: transparent;
		border-color: $white;

		&:hover {
			background: $white;
			color: $charcoal;
		}
	}
}

.ajax-load-more-wrap  {
	
	.alm-btn-wrap {
		padding-top: 25px;

		.alm-load-more-btn {
			background: transparent !important;
			color: $charcoal;
			padding: 13px 24px 10px 24px;
			border-radius: 24px;
			font-size: 1.25em;
			font-weight: bold;
			border: 2px solid $ejp-blue;
			transition: all 0.3s ease-in-out;
			height: auto;
			margin: 0;
			line-height: 1em;

			&.loading {
				padding-left: 24px;

				&:before {
					display: none;
				}
			}

			&.done {
				background: transparent;

				&:hover {
					color: $charcoal;
				}
			}

			&:hover {
				background: $ejp-blue;
				color: $white;
			}
			
			&:active,
			&:focus {
				outline: none;
			}
		}
	}
}