/* Colors
----------------------------------*/
$white: #fff;
$off-white: #eee;
$light-gray: #d9d9d9;
$mid-gray: #858585;
$charcoal: #333;
$slate: #2a2a2a;
$black: #000;

$red: #C02607;
$blue: #434758;

$ejp-blue: #0444A0;
$light-blue: #f3f9fd;
$opinion-yellow: #D7981D;
$ji-red: #C02607;

/* Typography
----------------------------------*/
@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/TiemposHeadline-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@import url("https://use.typekit.net/hvb2rav.css");

$tiempos-headline: 'Tiempos Headline', serif;
$proxima-nova:  proxima-nova, sans-serif;
$liberation: liberation-serif, "Arial Hebrew", serif;