.grid-archive {

    .wrapper {
        max-width: 840px;
    }

	section.posts {
		padding-bottom: 3rem;

		@include mobile-landscape {
			display: grid;
			grid-gap: 3rem 2rem;
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet-portrait {
			grid-template-columns: repeat(3, 1fr);
			padding-bottom: 6rem;
		}

		article {
			padding-bottom: 3rem;

			@include mobile-landscape {
				padding-bottom: 0;
			}

			.photo {
				@include aspect-ratio(4, 3);

				a {
					display: block;
					width: 100%;
					height: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center top;
				}

				.no-photo {
					background: $light-blue;
					width: 100%;
					height: 100%;
				}
			}

			.info {
				padding-top: 20px;

				.meta {
					padding-bottom: 10px;
					span.date {
						display: block;
						text-transform: uppercase;
						letter-spacing: 0.02em;
						font-family: $proxima-nova;
						color: $ejp-blue;
						font-size: 0.8125em;
						font-weight: bold;
					}
				}

				.headline {
					h3 {
						font-size: 1.125em;
						line-height: 1.125em;

						a {
							border-bottom: 2px solid transparent;

							&:hover {
								border-bottom: 2px solid $ejp-blue;
							}
						}
					}
				}
			}

			&.post-1 {
				.copy {
					padding-top: 10px;
                }
                
				@include mobile-landscape {
					grid-column-start: 1;
					grid-column-end: 3;
					padding-bottom: 3rem;
					border-bottom: 1px solid $light-gray;

					.photo {
						@include aspect-ratio(16, 9);
					}

					.info {

						.headline {
							max-width: 640px;

							h3 {
								font-size: 1.75em;
							}
						}

						.copy {
							max-width: 720px;

							p {
								font-size: 1.25em;
								line-height: 1.25em;
							}
						}
					}
				}

				@include tablet-portrait {
					grid-column-end: 4;
				}
			}

		}
    }    
    
    nav.pagination {
        padding-bottom: 3rem;
    }

}

section.archive-page-header {
    padding: 3rem 0;
    text-align: center;

    h1 {
        border-bottom: 3px solid $ejp-blue;
        display: inline-block;
    }
}