.two-col-content {
    display: flex;
    flex-wrap: wrap;

    & > .content {
        width: 100%;

        @include tablet-landscape {
            order: 2;
            width: calc(100% - 360px);
        }

        .content-wrapper {
            @include desktop {
                max-width: 1200px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            @include x-large {
                margin: 0 auto;
            }
        }
    }

    .sidebar {
        max-width: 360px;
        width: 100%;
        margin: 0 auto;

        @include tablet-landscape {
            order: 1;
            width: 360px;
            margin: 0;
        }
    }
}