/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://use.typekit.net/hvb2rav.css");
@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("fonts/TiemposHeadline-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic; }

.editor-styles-wrapper {
  line-height: 1.5em; }
  .editor-styles-wrapper .dk-block + .wp-block-group,
  .editor-styles-wrapper .wp-block-group + .wp-block-group {
    padding-top: 3rem; }
  .editor-styles-wrapper .dk-block h2,
  .editor-styles-wrapper .wp-block-group h2 {
    font-family: "Tiempos Headline", serif;
    text-align: center;
    padding: 0 0 25px 0;
    font-size: 28px;
    margin: 0; }
    .editor-styles-wrapper .dk-block h2:after,
    .editor-styles-wrapper .wp-block-group h2:after {
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      background: #0444A0;
      margin: 15px auto 0 auto;
      position: static; }
    @media screen and (min-width: 768px) {
      .editor-styles-wrapper .dk-block h2,
      .editor-styles-wrapper .wp-block-group h2 {
        font-size: 32px; } }
  .editor-styles-wrapper .dk-block h4,
  .editor-styles-wrapper .wp-block-group h4 {
    text-transform: uppercase;
    color: #0444A0 !important;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 14px !important;
    padding: 0;
    margin: 0; }
    .editor-styles-wrapper .dk-block h4 + h3,
    .editor-styles-wrapper .wp-block-group h4 + h3 {
      padding-top: 10px; }
  .editor-styles-wrapper .dk-block h3,
  .editor-styles-wrapper .wp-block-group h3 {
    font-family: "Tiempos Headline", serif;
    font-size: 24px;
    line-height: 1.25em;
    padding-bottom: 15px;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .editor-styles-wrapper .dk-block h3,
      .editor-styles-wrapper .wp-block-group h3 {
        font-size: 28px; } }
