.cat-post {
    border: 1px solid $off-white;
    border-top: 3px solid $ejp-blue;
    background: $white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    padding: 2rem 1.5rem 1.5rem 1.5rem;

    @include tablet-portrait {
        padding: 3rem 3rem 1.5rem 3rem;
    }

    @include tablet-landscape {
        padding: 4.5rem 3rem;
        max-width: 50rem;
        margin-right: auto;
        margin-left: 0;
    }

    @include desktop {
        margin-left: 4.5rem;
    }

    & + .cat-post {
        margin-top: 3rem;
    }

    @import '../post/opinion';
}