section.date-list {
    .grid {
        gap: 0;
    }

    .year {
        border: 1px solid #eee;
        border-bottom: none;
        border-right: none;

        & + .year {
            margin-top: 3rem;

            @include tablet-landscape {
                margin-top: 6rem;
            }
        }

        &-header {
            padding: 0.75rem 1rem;
            background: #f5f5f5;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;

            h4 {
                font-weight: bold;
                font-size: 1.125rem;
                font-family: $proxima-nova;

                a {
                    color: $slate;
                    display: inline-block;

                    &:hover {
                        text-decoration: underline;
                    }
                }			
            }
        }

        .month-link {
            text-align: center;
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;
            display: flex;
            align-items: stretch;
            justify-content: center;

            a {
                display: block;
                font-weight: 600;
                font-size: 0.875rem;
                color: $slate;
                padding: 1rem 0;
                width: 100%;

                &:hover {
                    background: $light-blue;
                }

                span {
                    border-bottom: 1px solid $ejp-blue;
                }
            }
        }
    }
}