section.archive-list {
    font-family: $proxima-nova;
    padding-bottom: 6rem;

    @include tablet-portrait {
        padding-bottom: 8rem;
    }

    .section-header {
        padding-bottom: 1rem;

        h3 {
            font-family: $tiempos-headline;
            color: $ejp-blue;
            font-size: 1.5rem;
        }
    }

    .grid {
        display: grid;
        gap: 1.5rem;

        &.four-col-grid {
            grid-template-columns: repeat(2, 1fr);

            @include mobile-landscape {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    .link {
        a {
            display: inline-block;
            font-size: 1rem;
            font-weight: 600;

            span.underline {
                border-bottom: 1px solid $ejp-blue;
            }           

            span.count {
                font-family: $tiempos-headline;
                font-weight: 400;
                font-size: 0.75em;
                letter-spacing: 0.05em;
            }
        }
    }
}