section.body {

    .dateline {
        padding-bottom: 1rem;
        
        h5 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1rem;
            font-style: italic;
            letter-spacing: 0.1em;
            line-height: 1.25em;
            color: $mid-gray;

            @include mobile-landscape {
                font-size: 1.125rem;
            }
        }
    }

    img {
        margin-bottom: 40px;
    }

    .twitter-tweet {
        width: 100% !important;
    }

    .wp-block-embed {
        margin-bottom: 40px;

        .fb_iframe_widget {
            width: 100%;

            & > span {
                width: 100% !important;
                height: auto !important;
            }

            iframe {
                width: 100% !important;
            }
        }
    }

    .wp-block-image {
        margin-bottom: 40px;

        img {
            margin-bottom: 0;
        }

        figcaption,
        .figcaption {
            color: $mid-gray;
            text-align: left;
            margin: 15px 0 0 0;
            font-size: 0.9375em;
            line-height: 1.5em;
            font-style: italic;
            padding: 0;
        }
    }

    .wp-caption {
        width: 100% !important;
    }

    .wp-block-pullquote {
        padding: 0 2rem;

        &.alignwide,
        &.alignfull {
            margin-bottom: 2rem;
        }


        &.alignleft {
            max-width: 100%;
            margin-bottom: 2rem;

            @include tablet-portrait {
                float: left;
                max-width: 400px;
                margin: 0 2rem 2rem 0;
            }
            @media screen and (min-width: 1490px) {
                margin-left: 20rem;
            }
        }

        &.alignright {
            max-width: 100%;
            margin-bottom: 2rem;

            @include tablet-portrait {
                float: right;
                max-width: 400px;
                margin: 0 0 2rem 2rem;
            }

            @media screen and (min-width: 1490px) {
                margin-right: 20rem;
            }
        }

        blockquote {
            margin: 0;
            max-width: 100%;
            text-align: left;
            
            p {
                border-color: $ejp-blue;
                font-family: $proxima-nova;
                font-weight: bold;
                font-size: clamp(1.5rem, 1.25vw, 2.5rem);
                line-height: 1.5em;
            }
        }
    }


    .show-more-wrapper {
        overflow: hidden;
        height: 12em;
    }

    &.expanded {
        .show-more-wrapper {
            height: auto;
            padding-bottom: 25px;
        }

        .show-more-btn {
            display: none;
        }
    }

    .show-more-btn {
        padding: 40px 0 25px 0;
        display: flex;
        justify-content: center;

        .subscribe-btn {
            border-bottom: none;
            line-height: 1em; 
            @include tablet-portrait {
                font-size: 0.875em;
                padding: 13px 20px 10px 20px;
            }

        }
    }


    .dk-block,
    .wp-block-group {

        & + .dk-block,
        & + .wp-block-group {
            padding-top: 50px;
        }

        h2 {
            text-align: center;
            padding-bottom: 25px;

            &:after {
                display: block;
                content: '';
                width: 40px;
                height: 4px;
                background: $ejp-blue;
                margin: 15px auto 0 auto;
            }
            
            @include tablet-portrait {
                font-size: 2rem;
            }
        }

        h4 {
            text-transform: uppercase;
            color: $ejp-blue;
            font-family: $proxima-nova;
            font-weight: bold;
            letter-spacing: 0.05em;
            font-size: 0.875em;
        }

        h3 {
            font-size: 1.5em;
            line-height: 1.25em;
            padding-bottom: 15px;

            @include tablet-portrait {
                font-size: 1.75em;
            }
        }
    }

    .opinion-featured-image{
        padding: 0 0 2rem 0;

        img {
            margin: 0;
        }

        .credit {
            position: absolute;
            bottom: 0;;
            right: 0;
            z-index: 10;

            p {
                font-size: 0.6875rem;
                margin: 0;
                padding: 5px 10px;
            }
        }

        .caption {
            margin: 1rem 0 0 0;

            p {
                color: $mid-gray;
                text-align: left;
                font-size: 0.9375rem;
                line-height: 1.5em;
                font-style: italic;
                margin: 0;
                padding-bottom: 0;				
            }
        }
    }

}