section.footer {
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .date {
        span {
            display: block;
            color: #ccc;
            font-family: $proxima-nova;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 0.05em;
        }
    }

    .share {
        display: flex;
        justify-content: flex-end;
        align-items: center;


        span.label {
            display: none;
        }

        .link {

            & + .link {
                margin-left: 10px
            }
            a {
                width: 28px;
                height: 28px;
                border: 2px solid $ejp-blue;
                border-radius: 50%;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $ejp-blue;
                }
            }
        }
    }				
}