section.header {
    .sponsored {
        background: $light-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 2rem;

        h5 {
            color: $ejp-blue;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-family: $proxima-nova;
            font-size: 0.75rem;
            line-height: 1;
        }
    }

    .tagline {
        padding-bottom: 1rem;

        @include desktop {
            padding-bottom: 1.5rem;
        }

        h4 {
            color: $ejp-blue;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-family: $proxima-nova;
            font-size: 0.75rem;
        }
    }

    .title + .byline {
        padding-top: 0.5rem;

    }

    .x-large-title {
        font-size: 1.5rem;

        @include tablet-landscape {
            font-size: 1.75rem;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }


    }

    .dek {
        padding: 1.25rem 0 0 0;

        p {
            font-style: italic;
            font-size: 1.125rem;
            line-height: 1.5em;
            color: $mid-gray;

            @include mobile-landscape {
                font-size: 1.375rem;
            }
        }

        & +.byline {
            padding-top: 2rem;
        }
    }

    .featured-image{
        padding: 2rem 0;

        .credit {
            position: absolute;
            bottom: 0;;
            right: 0;
            z-index: 10;
        }

        .caption {
            margin: 1rem 0 0 0;

            p {
                color: $mid-gray;
                text-align: left;
                font-size: 0.9375rem;
                line-height: 1.5em;
                font-style: italic;						
            }
        }
    }

    .byline {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 1rem;
        padding-bottom: 2.25rem;

        .authors {
            display: flex;
            justify-content: flex-start;

            &:after {
                content: '·';
                padding: 0 0.625rem;
            }

            .by {
                padding-right: 0.25rem;
            }

            .author  {
                display: flex;
                width: auto;

                &:before {
                    content: ", ";
                    margin-right: 6px;
                }

                &:first-of-type:before {
                    content: "";
                    margin-right: 0;
                }

                a {
                    border-bottom: 1px solid $ejp-blue;
                }
            }
        }
    }

    .share {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 2rem;
        align-items: center;

        span.label {
            font-family: $proxima-nova;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;
        }

        .link {
            padding-left: 10px;

            a {
                width: 2rem;
                height: 2rem;
                border: 2px solid $ejp-blue;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $ejp-blue;

                    img {
                        filter: brightness(500%);
                    }
                }
            }
        }

        .printfriendly {
            padding-left: 10px;

            a {
                display: block;
                max-width: 2rem;

                img {
                    width: 100%;
                }
            }
        }
    }
}