&.category-opinion {
    .opinion-header {
        padding-bottom: 3rem;
        text-align: center;

        h2 {
            font-weight: 400;
            font-size: clamp(1.25rem, 1.8vw, 1.75rem);
            display: inline-block;
            color: $slate;
            text-transform: uppercase;
            letter-spacing: 0.05em;

            &:after {
                content: '';
                display: block;
                width: 40px;
                height: 3px;
                background: $opinion-yellow;
                margin: 0.5rem auto 0 auto;
            }
        }
    }

    section.header {
        .tagline {
            padding-bottom: 0.5rem;

            h4 {
                color: $opinion-yellow;
            }
        }

        .byline {
            padding-top: 1rem;
        }

        .byline .authors .author a {
            border-color: $opinion-yellow;
        }

        .share .link a {
            border-color: $opinion-yellow;

            &:hover {
                background: $opinion-yellow;
            }
        }

        .opinion-dek {
            border: 2px solid $opinion-yellow;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            margin-bottom: 3rem;
            display: inline-block;

            @include tablet-portrait {
                padding: 1rem 1.5rem;
            }

            h5 {
                font-size: clamp(0.875rem, 1.1vw, 1rem);
                line-height: 1.5em;
                font-family: $proxima-nova;
                font-weight: bold;
            }

            p {
                font-size: clamp(0.875rem, 1.1vw, 1rem);
                line-height: 1.5em;
                font-family: $proxima-nova;
            }
        }
    }

    section.body a {
        border-color: $opinion-yellow;
    }

    .subscribe-btn, .comment-btn {
        background: $opinion-yellow;
        color: $white;
    }

    border-top-color: $opinion-yellow;
}