body.category {


	section.content {
		padding: 3rem 0 3rem 0;	

		.content-wrapper {
			padding: 0 2rem;
		}

		.page-header {
			width: 100%;
			max-width: 50rem;
			text-align: center;
			padding: 0 1.5rem 2rem 1.5rem;

			@include tablet-portrait {
				padding: 0 3rem 2rem 3rem;
			}
		
			@include tablet-landscape {
				margin-right: auto;
				margin-left: 0;
			}
		
			@include desktop {
				margin-left: 4.5rem;
			}


			h1 {
				display: inline-block;
				padding-bottom: 0.5rem;
				border-bottom: 3px solid $ejp-blue;
			}
		}

		.alm-reveal {

			& + .alm-reveal {
				margin-top: 50px;

			}
		}

		@import "../template-parts/category/cat-post";


	}

	.sidebar-section.cat {
		.section-header {
			h2 {
				display: inline-block;
				border-bottom: 2px solid $ejp-blue;
			}
		}

		&.opinion {
			.section-header {
				h2 {
					border-color: #E9B44C;
				}
			}
		}

	}

}
