body.home {

	.main {
		border-top: 1px solid $off-white;
		display: flex;
		flex-wrap: wrap;

		& > .content {
			width: 100%;
			order: 1;

			@include tablet-landscape {
				order: unset;
				width: calc(100% - 360px);
			}

			@include x-large {
				padding-top: 2rem;
			}

			.content-wrapper {
				@include desktop {
					max-width: 1200px;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}

				@include x-large {
					margin: 0 auto;
				}
			}

			.slick-slider {
				display: none;

				&.slick-initialized {
					display: block;
				}
			}
		}

		.sidebar {
			max-width: 360px;
			width: 100%;
			margin: 0 auto;
			order: 2;

			@include tablet-landscape {
				order: unset;
				width: 360px;
				margin: 0;
			}
		}

		.subscribe {
			padding: 1rem 0;
			margin: 0;
			border-bottom: none;
			border-top: 1px solid $off-white;

			@include desktop {
				.info {
					padding-left: 3rem;
				}
			}

			&.no-preview {
				@include desktop {
					.info {
						width: 66.6666%;
						padding-bottom: 4rem;

					}
				}
			}
		}
	}

	.featured-articles {
		width: 100%;
		@include aspect-ratio(1200, 675);
		overflow: hidden;

		@include desktop {
			max-width: 1200px;
			max-height: 675px;
			overflow: hidden;
		}

		article {
			width: 100%;

			a {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
			}

			.photo {
				@include aspect-ratio(16, 9);

				.content {
					&:before {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 2;
						background: $ejp-blue;
						opacity: 0.4;
					}
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: saturate(0);
				}
			}

			.info {
				display: flex;
				height: 100%;
				width: 100%;
				align-items: flex-end;
				color: $white;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 5;
				padding: 1.5rem;

				@include mobile-landscape {
					
					align-items: center;
				}

				@include desktop {
					padding: 2.25rem;
				}

				&-wrapper {
					margin-top: auto;
					padding-bottom: 3rem;

					@include tablet-portrait {
						padding-bottom: 5.5rem;
					}
				}

				.headline {
					h1 {
						color: $white;
						text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

						@include mobile-landscape {
							font-size: 2rem;
						}

						@include desktop {
							font-size: 2.5rem;
						}
					}
				}

				.dek {
					padding-top: 1rem;
					display: none;

					@include tablet-portrait {
						display: block;
					}

					p {
						font-family: $proxima-nova;
						font-weight: bold;
						line-height: 1.25em;
						font-size: 1rem;
						text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);


						@include tablet-landscape {
							font-size: 1.25rem;
						}
					}
				}
			}					
		}

		.slick-dots {
			bottom: 10px;

			li {
				width: 40px;
				height: 30px;
				margin: 0 5px;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
				filter: saturate(0);
				transition: all 0.2s ease-in;

				@include mobile-landscape {
					border-width: 2px;
				}

				&.slick-active {
					border-color: $ejp-blue;
					filter: saturate(0.6);
				}

				@include tablet-portrait {
					width: 80px;
					height: 60px;
					margin: 0 10px;
				}

				@include desktop {
					width: 120px;
					height: 80px;
				}

				a {
					display: block;
					width: 100%;
					height: 100%;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;						
					}
				}
			}

		}
	}
}