article.category-your-daily-phil {

    .wp-block-group {

        & + .wp-block-group {
            padding-top: 4rem;
        }

        h2 {
            text-align: center;
            padding-bottom: 1.5rem;

            &:after {
                display: block;
                content: '';
                width: 40px;
                height: 4px;
                background: $ejp-blue;
                margin: 15px auto 0 auto;
            }
            
            @include tablet-portrait {
                font-size: 2rem;
            }
        }

        h4 {
            text-transform: uppercase;
            color: $ejp-blue;
            font-family: $proxima-nova;
            font-weight: bold;
            letter-spacing: 0.05em;
            font-size: 0.875em;

            & + h3 {
                padding-top: 10px;
            }
        }

        h3 {
            font-size: 1.5em;
            line-height: 1.25em;
            padding-bottom: 15px;

            @include tablet-portrait {
                font-size: 1.75em;
            }
        }
    }


}


section.newsletter-subscribe {
    width: 100%;
    border-bottom: 1px solid $off-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    padding: 1rem 0;

    @include mobile-landscape {
        padding-bottom: 0;
    }

    & > * {
        width: 100%;

        @include mobile-landscape {
            width: calc(50% - 1rem);
            text-align: left;
        }
    }

    .photo {
        display: none;

        @include mobile-landscape {
            display: block;
        }

        img {
            max-height: 200px;

            @include mobile-landscape {
                margin-right: auto;

            }
        }
    }

    .info {
        @include mobile-landscape {
            padding-bottom: 2rem;
            display: flex;
            align-items: center;
        }

        &-wrapper {
            @include mobile-landscape {
                margin-left: auto;
            }
        }

        .headline {
            h3 {
                font-size: 1.5em;
                line-height: 1.25em;
            }
        }

        .cta {
            padding-top: 20px;

            .subscribe-btn {
                font-size: 1em;
                background: $white;
                border: 2px solid $ejp-blue;
                color: $slate;
                display: inline-block;

                &:hover {
                    background: $ejp-blue;
                    color: $white;
                }
            }
        }
    }
}

.recent-dropdown {
    width: 100%;
    padding: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;

    &-wrapper {
        width: auto;
        display: inline-block;
    }

    &-outline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-header {
        padding: 5px 15px 0 0;

        span {
            display: block;
            font-size: 0.8125em;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            font-family: $proxima-nova;
            font-weight: bold;
        }
    }

    .combo-box {

        select {
            appearance: none;
            background: #fcfcfc;
            border: 1px solid $light-gray;
            border-radius: 5px;
            padding: 7px 30px 5px 10px;
            width: 100%;
            max-width: 320px;
            display: block;
            box-shadow: 0 0 4px inset rgba(0, 0, 0, 0.05);
            background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4IiB2aWV3Qm94PSIwIDAgMjQgMTgiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtOTkgMTc5IDEyIDE4aC0yNHoiIGZpbGw9IiMwNDQ0QTAiIHRyYW5zZm9ybT0ibWF0cml4KC0xIDAgMCAtMSAxMTEgMTk3KSIvPjwvc3ZnPg=="),
            linear-gradient(to bottom, #ffffff 0%,#eee 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 51%, 0 0;
            background-size: .65em auto, 100%;

        }
    }
}


section.newsletter-archive {
    width: 100%;
    order: 3;
    padding: 50px 0;
    background: #fafafa;
    border-top: 1px solid #ddd;

    @include tablet-portrait {
        padding: 100px 0;
    }


    .section-header {
        text-align: center;
        padding-bottom: 50px;

        h2 {
            font-size: 1.5em;
            line-height: 1.25em;

            @include tablet-portrait {
                font-size: 2em;
            }

            &:after {
                content: '';
                display: block;
                width: 40px;
                height: 4px;
                background: $ejp-blue;
                margin: 20px auto 0 auto;
            }
        }
    }

    .recent {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr;
        max-width: 960px;
        margin: 0 auto;

        @include mobile-landscape {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet-portrait {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 3rem 1.5rem;
        }

        @include tablet-landscape {
            grid-gap: 3rem;
        }

        .archive-post {
            max-width: 360px;
            margin: 0 auto;

            .timestamp {
                text-align: center;
                padding-bottom: 10px;

                span {
                    font-weight: bold;

                    &.day {
                        font-size: 1.5em;
                        padding-bottom: 5px;
                    }

                    &.date {
                        color: $ejp-blue;
                        font-size: 1.375em;
                    }
                }
            }

            .photo {
                @include aspect-ratio(1, 1);

                a {
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .headline {
                padding: 20px 0 0 0;

                @include tablet-landscape {
                    padding: 20px 10px 0 10px;
                }

                h3 {
                    font-weight: 400;
                    font-size: 1em;
                    line-height: 1.375em;

                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }


    }

    .archive {
        padding-top: 50px;
        font-family: $proxima-nova;
    }

}