body.single-post {

	article.single-post {
		padding: 2rem 1.5rem 1.5rem 1.5rem;

		@include tablet-portrait {
			padding: 3rem 3rem 1.5rem 3rem;
		}
	
		@include tablet-landscape {
			padding: 4.5rem 3rem;
			max-width: 50rem;
			margin-right: auto;
			margin-left: 0;
		}
	
		@include desktop {
			margin-left: 4.5rem;
		}

		@import '../template-parts/post/opinion';



	}

	#disqus_thread {
		padding: 3rem 0;
	}

	section.main.your-daily-phil {
		article.single-post {
			margin: 0 auto;
			padding: 3rem 0;
			max-width: 45rem;

			section.header {
				text-align: center;

				.title{
					.x-large-title {
						@include tablet-portrait {
							font-size: 2.5rem;
						}

						&:after {
							display: block;
							content: '';
							width: 40px;
							height: 4px;
							background: $ejp-blue;
							margin: 1rem auto 0 auto;							
						}			
					}
				}

				.date {
					padding-top: 1.5rem;
					
					span {
						font-size: 1.25rem;
					}
				}

				.byline,
				.share {
					justify-content: center;
				}
			}
		}
	}
}