body.single-authors {

	section.page-header {
		padding-top: 50px;
		text-align: center;

		@include tablet-portrait {
			padding-top: 75px;
		}

		.wrapper {
			max-width: 840px;
		}

		.photo {
			max-width: 300px;
			margin: 0 auto;
			padding-bottom: 25px;

			img {
				border-radius: 50%;
			}
		}

		.headline {
			h1 {
				display: flex;
				justify-content: center;
				align-items: center;

				a.twitter,
				a.email {
					width: 24px;
					height: 24px;
					display: block;
					margin-left: 20px;
				}

				a.email {
					transform: translateY(-3px);
				}
			}

			h3 {
				font-weight: normal;
				font-style: italic;
				color: $mid-gray;
				padding-top: 10px;
			}
		}

		.copy {
			padding-top: 25px;
		}
	}

	section.results {
		padding: 100px 0;
		min-height: 60vh;


		&.no-results {
			min-height: 0;
			padding: 0 0 100px 0;

			@include tablet-portrait {
				min-height: 40vh;
			}
		}

		.wrapper {
			max-width: 640px;
		}

		.section-header {
			text-align: center;
			padding-bottom: 25px;

			h2 {
				display: inline-block;
				padding-bottom: 2px;
				border-bottom: 2px solid $ejp-blue;
			}
		}

		article.quick-hit-preview  {
			a {
				padding: 20px 0;
			}
		}
	}
}


body.archive.author {
	section.main {
		min-height: 50vh;

		@include tablet-portrait {
			min-height: 60vh;
		}
	}
}

article.quick-hit-preview {
	
	& + article.quick-hit-preview {
		border-top: 1px solid $off-white;
	}
	


	a {
		display: flex;
		align-items: flex-start;
		padding: 20px 25px;

		&:hover {
			h3 {
				text-decoration: underline;
			}
		}
	}

	.photo {
		width: 52px;
		height: 52px;
		border: 1px solid $ejp-blue;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.info {
		padding-left: 20px;
		flex: 1;

		&:only-child {
			padding-left: 0;
		}

		.tagline {
			padding-bottom: 10px;
		
			h4 {
				font-family: $proxima-nova;
				color: $ejp-blue;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.75em;
				letter-spacing: 0.05em;
			}
		}

		.title {
			h3 {
				font-family: $proxima-nova;
				font-size: 1em;

			}
		}

		.meta {
			padding-top: 10px;
			
			em {
				display: block;
				font-family: $proxima-nova;
				color: $mid-gray;
				font-size: 0.8125em;
			}
		}
	}			
}