body.page-template-subscribe {
	section.subscribe {

		.info {

			@include tablet-landscape {
				width: 50%;
				padding: 3rem 0;
			}

		}

		.preview {
			@include tablet-landscape {
				width: 50%;
			}
		}
	}
}

body.page-template-referrals {

	div.wpforms-container-full .wpforms-form .wpforms-field,
	div.wpforms-container-full .wpforms-form .wpforms-submit-container {
		padding: 0;
	}

	form.wpforms-form {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;	

		*:focus,
		*:active {
			outline: none;
		}

		.wpforms-field-container {
			width: 100%;
			margin-bottom: 20px;

			@include tablet-landscape {
				flex: 1;
				margin-right: 10px;
				margin-bottom: 0;
			}

			input[type="email"] {
				padding: 10px;
				font-family: $proxima-nova;
				border: 1px solid $light-gray;
				appearance: none;
				display: block;
				width: 100%;
				height: auto;
				max-width: 100%;
				margin-top: 0;
				
				@include tablet-landscape {
					padding: 11px 10px;
				}
			}
		}


		label.wpforms-error {
			color: $ejp-blue;
			font-family: $proxima-nova;
			font-size: 0.875em;
			width: 100%;
			margin: 10px 0 0 0;
		}

	}

	div.wpforms-container-full .wpforms-form button[type="submit"] {
		color: $white;
		background: $ejp-blue;
		padding: 13px 24px 10px 24px;
		border-radius: 24px;
		font-size: 1.25em;
		font-weight: bold;
		border: 2px solid $ejp-blue;
		transition: all 0.3s ease-in-out;

		&.clear-charcoal {
			background: transparent;
			color: $charcoal;

			&:hover {
				background: $ejp-blue;
				color: $white;
			}
		}
	}

	.form-note {
		p {
			font-family: $proxima-nova;
			color: $mid-gray;
			line-height: 1.25em;
		}
	}
}