.ad-banner {
    width: 100%;
    display: flex;
    justify-content: center;

    a {
        display: block;
    }

    img {
        width: 100% !important;
        height: auto !important;
    }
}

body.page-template-homepage {
    .ad-banner {
        padding: 2rem;

        @include desktop {
            padding: 3rem;
        }

        img {
            max-width: 970px;
        }

    }
}