article.teaser {
	
	& + article.teaser {
		border-top: 1px solid $off-white;
	}

	a {
		display: flex;
		align-items: flex-start;
		padding: 20px 25px;

		&:hover {
			h3 {
				text-decoration: underline;
			}
		}
	}

	.photo {
		border: 1px solid $ejp-blue;

		img {
			object-fit: cover;
			width: 3.25rem;
			height: 3.25rem;
		}
	}

	.info {
		padding-left: 1.25rem;
		flex: 1;

		&:only-child {
			padding-left: 0;
		}

		.tagline {
			padding-bottom: 0.25rem;
		
			h4 {
				font-family: $proxima-nova;
				color: $ejp-blue;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.625rem;
				letter-spacing: 0.05em;
			}
		}

		.title {
			h3 {
				font-family: $proxima-nova;
				font-size: 1rem;
			}
		}

		.meta {
			padding-top: 0.625rem;
			
			em {
				display: block;
				font-family: $proxima-nova;
				color: $mid-gray;
				font-size: 0.8125em;
			}
		}
	}			

	&.sponsored {
		background: #f3f9fd;

		.info {


			.title {
				h3 {
					font-family: $tiempos-headline;
					line-height: 1.25em;
					font-size: 0.875rem;
				}
			}
		}
	}
}