.credit {
	p {
		color: $white;
		font-family: $proxima-nova;
		font-size: 0.6875em;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		padding: 5px 10px;
		background: rgba(0, 0, 0, 0.2);
	}
}
