.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background: rgba(255, 255, 255, 0.95);

	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		padding: 20px;

		@include tablet-portrait {
			padding: 80px 20px;
		}
	}
	
	.close {
		position: absolute;
		top: -40px;
		right: 0;
		z-index: 10;

		@include tablet-landscape {
			right: -40px;
		}
		
		.close-btn {
		  display: block;
		  width: 36px;

			&:before,
			&:after {
				background-color: $ejp-blue;
				content: '';
				display: block;
				height: 4px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 0 0 $ejp-blue;
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 18px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}
	}
}