section.sidebar {
	padding: 0 0 3rem 0;

	@include tablet-landscape {
		border-right: 1px solid $off-white;
		border-bottom: none;
		padding: 0 0 2rem 0;
	}

	.section-header {
		padding: 2rem 1.5rem 1rem 1.5rem;
		text-align: center;

		h2 {
			font-weight: bold;
			font-size: 1.5rem;

			a {
				border-bottom: 2px solid $ejp-blue;
				padding-bottom: 3px;
				display: inline-block;				
			}
		}
	}

	.sidebar-section {
		& + .sidebar-section {
			padding-top: 1rem;
		}

		&.opinion {
			.section-header h2 a {
				border-color: $opinion-yellow;
			}

			article.teaser .info .tagline h4 {
				color: $opinion-yellow;
			}
		}
	}
}