section.subscribe,
section#subscribe-form {
	.headline {
		h1 {
			@include tablet-landscape {
				font-size: 2.25em;
			}

			@include desktop {
				font-size: 2.5em;
			}
		}
	}

	.dek {
		padding-top: 10px;

		p {
			color: rgba(51, 51, 51, 0.6);
			font-family: $proxima-nova;
			font-size: 1em;
			font-weight: 600;
			line-height: 1.25em;

			@include tablet-landscape {
				font-size: 1.125em;
			}

		}
	}

	.form {
		padding: 25px 0 50px 0;

		@include tablet-landscape {
			padding: 25px 0 25px 0;
		}

		form {
			display: flex;
			flex-wrap: wrap;
			align-items: center;	
		}

		input.email {
			padding: 10px;
			font-family: $proxima-nova;
			width: 100%;
			margin-bottom: 20px;
			border: 1px solid $light-gray;
			appearance: none;
			
			@include tablet-landscape {
				flex: 1;
				margin-right: 10px;
				margin-bottom: 0;
				padding: 11px 10px;
			}
		}
	}

	.pullquote {
		display: none;
		background: url(images/quote-marks.svg) no-repeat left top;
		background-size: 72px 48px;



		@include tablet-portrait {
			display: block;
		}

		blockquote {
			padding: 30px 0 0 30px;
			margin: 0;
			position: relative;

			&:after {
				background: url(images/quote-marks-end.svg) no-repeat left top;
				background-size: 72px 48px;
				display: block;
				content: '';
				width: 72px;
				height: 48px;
				position: absolute;
				z-index: 1;
				right: 0;
				bottom: 0px;
			}

			p {
				font-style: italic;
				font-size: 1.25em;
				line-height: 1.6666em;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}
		}

		cite {
			display: flex;
			align-items: center;
			font-style: normal;
			padding: 15px 0 0 30px;

			.photo {
				width: 72px;

				img {
					width: 100%;
				}
			}

			.source {
				flex: 1;
				padding-left: 20px;

				h4 {
					font-size: 1.375em;
				}

				h5 {
					font-family: $proxima-nova;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.05em;
					color: $mid-gray;
					font-size: 0.875em;
					padding-top: 5px;
				}
			}
		}
	}
}