section.subscribe {
	order: -1;
	border-bottom: 2px solid $ejp-blue;
	padding-bottom: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	@include tablet-landscape {
		order: 2;
		border-bottom: none;
	}

	@include desktop {
		align-items: flex-start;
	}

	.info {
		width: 100%;
		padding: 30px 25px;

		@include desktop {
			width: calc(50% - 2rem);
			padding: 50px 0 0 0;
		}

		.pullquote {
			margin-top: 50px;

			.photo {
				img {
					border-radius: 50%;
				}
			}
		}

		.form {
			padding-bottom: 0;
		}
	}

	.preview {
		width: 100%;
		display: flex;

		@include desktop {
			width: calc(50% - 2rem);
		}

		.frame {
			margin: 0 auto;
			background: url(images/iphone-frame.png) no-repeat 0 0;
			background-size: 100%;
			width: 100%;
			height: 100%;
			max-width: 523px;
			max-height: 960px;
			transform: translateX(-2%);
			overflow: hidden;

			&:before {
				padding-top: 183.55%;
				content: '';
				display: block;
			}
		}

		.email {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			padding: 18% 11.2% 24% 17.25%;

			.iframe-container {
				width: 100%;
				height: 100%;
				overflow: auto;
				-webkit-overflow-scrolling: touch;

				iframe {
					border: 0;
					width: 100%;
					height: 100%;		

				}
			}
		}
	}
}