nav.network {
    background: #1a1a1a;
    display: flex;
    justify-content: center;

    .site {
        height: 3.25rem;
        padding: 1rem;

        & + .site {
            border-left: 1px solid rgba(255, 255, 255, 0.25);
            padding-left: 1rem;
        }

        &.jewish-insider {
            width: 7rem;

            @include tablet-portrait {
                width: 8.5rem;
            }
        }
        
        &.ejp {
            width: 3.5em;

            @include tablet-portrait {
                width: 4rem;
            }

            a {
                opacity: 1;
            }
        }

        &.circuit {
            width: 6.25rem;

            @include tablet-portrait {
                width: 7.5rem;
            }

            img {
                object-fit: unset;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            transition: all 0.2s ease;

            &:hover {
                opacity: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

}